body{
    background-image: url("./Images/background.jpg");
    background-size: cover;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header h2{
    font-size: 50px;
    padding: 5px;
    color: white;
    font-family: "Nunito", sans-serif;

    border-radius: 15px;
}

nav {

    display: flex;
    height: 20%;
    flex-direction: row;
    border-radius: 20px;
    justify-content: center;
    font-size: large;
    margin:30px;
    text-decoration: none;
}
main{
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 10px;
    text-decoration: none;
}

nav li {
    background-color: black;
    color: white;
    padding: 10px;
    align-items: center;
     margin: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

nav a {
    text-decoration: none;
    color: white;
}
body h1{
    color: aliceblue;
    margin-left: 10px;
}
main{
     height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Login{
    background-color: yellowgreen;
    opacity: 70%;
    width:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 40px;
}
.Login .info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
     border: 2px solid black;
    border-radius: 130px;
    padding: 10px;

}
h2{
    text-align: center;
}
.Login .info label{
    margin: 2px;
}
.Login .info input{
    margin-bottom:5px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0)
}
.Login .info input:focus{
    outline: none;
    background-color: transparent;
}
.button{

    display: flex;
    justify-content: center;
    align-items: center;
}
.button button{
    margin-top: 15px;
    cursor: pointer;
    border: 2px solid black;
    padding:5px;
    border-radius: 10px;
    width:90px;
}

.site-footer {

    background-color: black;
    color: white;
    height: 15vh;
    text-align: center;
    opacity: 70%;

  }


  .site-footer .footer-links {
    list-style: none;
    padding: 10px 0 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  .site-footer .footer-links a {
    color: #ddd;
    text-decoration: none;
  }

  .site-footer .footer-links a:hover {
    text-decoration: underline;
  }
#line{
     margin-top: 50px;
      background-color: greenyellow;
      height:5px;
    border-radius: 10px;
      width: 100%;
  }
#submit{
    background-color: black;
    color: white;
    border: 1px solid white;
}